<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div>
        <span class="FS">F</span><span class="four">4</span
        ><span class="FS">S</span>
      </div>

      <div>
        <span class="headerindex"></span>
      </div>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <!-- สารเคมี -->
        <li class="nav-item">
          <a class="nav-link text-white" href="/chem/index.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-flask"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.5 0a.5.5 0 0 0 0 1H5v5.36L.503 13.717A1.5 1.5 0 0 0 1.783 16h12.434a1.5 1.5 0 0 0 1.28-2.282L11 6.359V1h.5a.5.5 0 0 0 0-1zM10 2H9a.5.5 0 0 0 0 1h1v1H9a.5.5 0 0 0 0 1h1v1H9a.5.5 0 0 0 0 1h1.22l.61 1H10a.5.5 0 1 0 0 1h1.442l.611 1H11a.5.5 0 1 0 0 1h1.664l.611 1H12a.5.5 0 1 0 0 1h1.886l.758 1.24a.5.5 0 0 1-.427.76H1.783a.5.5 0 0 1-.427-.76l4.57-7.48A.5.5 0 0 0 6 6.5V1h4z"
              />
            </svg>
            สารเคมี
          </a>
        </li>

        <!-- แบรนด์ -->
        <li class="nav-item">
          <a class="nav-link text-white" href="/brand/index.html">
            <i class="bi bi-building"></i>
            แบรนด์
          </a>
        </li>

        <!-- Products -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-box2-heart-fill"></i> ผลิตภัณฑ์
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/product/index.html"
                ><i class="bi bi-pencil-fill"></i> จดแจ้งผลิต</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/productdetail/index.html"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-flask-florence-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m10.5 0 .1.01a.5.5 0 0 1-.1.99H10v5.417c.517.226.986.538 1.394.916l.043.038.14.14a6 6 0 0 1 .303.34l.101.128q.045.06.088.122a5 5 0 0 1 .26.4l.066.12a5 5 0 0 1 .16.32q.029.062.053.124.035.08.067.163.115.3.19.62l.024.111a5 5 0 0 1 .096.68Q13 10.82 13 11l-.007.257A5 5 0 0 1 8 16l-.257-.007A5 5 0 0 1 6 6.417V1h-.5a.5.5 0 0 1 0-1zM8 6a.5.5 0 0 0 0 1h1.065A.5.5 0 0 1 9 6.756V6zm0-2a.5.5 0 0 0 0 1h1V4zm0-2a.5.5 0 0 0 0 1h1V2z"
                  />
                </svg>
                ตั้งค่าสูตร</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="\productorder\index.html"
                ><i class="bi bi-basket-fill"></i> สั่งผลิต</a
              >
            </li>
          </ul>
        </li>

        <!-- Orders -->
        <li class="nav-item">
          <a class="nav-link text-white" href="/productorderdetail/index.html">
            <i class="bi bi-currency-dollar"></i>
            ซื้อสารเคมี
          </a>
        </li>

        <!-- Customers -->
        <li class="nav-item">
          <a class="nav-link text-white" href="/showdetail/index.html">
            <i class="bi bi-clipboard2-check-fill"></i>
            รายละเอียดต้นทุนการผลิต
          </a>
        </li>

        <!-- Logout -->
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="/login/login.html"
            role="button"
            aria-expanded="false"
            id="btnLogout"
            data-redirect="/login/login.html"
          >
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
