<div
  class="modal fade"
  id="logoutConfirmModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ยืนยันการออกจากระบบ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="ปิด"
        ></button>
      </div>
      <div class="modal-body">คุณต้องการออกจากระบบใช่หรือไม่?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          ยกเลิก
        </button>
        <button type="button" id="btnLogoutConfirm" class="btn btn-danger">
          ออกจากระบบ
        </button>
      </div>
    </div>
  </div>
</div>
